section{
    margin-top: 100px;
}
div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #C1EBE9;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #FFF7C5;
}

div:nth-of-type(3n){
    background-color: #F4AE52;
}
/* transform */

#one{
    transform: rotate(45deg);
    transform: rotate(90deg);
    transform: rotate(180deg);
    transform: rotate(-45deg);
    transform: rotate(-90deg);
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
    transform: scale(2);
    /* transform: scale(0.5); */
    transform: scale(0.5,2);
    transform: scale(2,0.5);
    transform: scaleX(0.5);
    transform: scaleY(0.5);
}
#three{
    transform: translate(100px,100px);
    transform: translatex(100px);
    transform: translatey(100px);
    transform: translatex(-100px);
}
#four{
    transform: skew(30deg);
    /* transform: skew(-90deg); */
}
#five{
    transform: rotate(30deg) translatex(150px);
    /* transform: rotate(30deg);
    transform: translateX(150px); */
}